a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgrey;
}

.links {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 100%;
  place-content: flex-end;
}

ul {
  display: flex;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.hide-xs {
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.hide-gt-xs {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.logout-link {
  cursor: pointer;
}
