<mat-toolbar color="primary">
  <div class="hide-gt-xs">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">NG Fitness</a></div>
  <div class="links hide-xs">
    <ul class="navigation-items">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="(isAuth$ | async)"><a routerLink="/training">Training</a></li>
      <li *ngIf="(isAuth$ | async)"><a (click)="onLogout()" class="logout-link">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>